<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="{{ url_for('static',filename='js/genequantiles.js') }}"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/bootstrap-slider.js"></script>
    
    <!-- Tags -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-slider.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style2.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">

    <link href="https://amp.pharm.mssm.edu/Enrichr/lib/github.css" rel="stylesheet" type="text/css"/>

    <!-- Autocomplete -->
    <script src="{{ url_for('static',filename='js/jquery.auto-complete.min.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.auto-complete.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4J6Q4SS3HR"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-4J6Q4SS3HR');
    </script>

</head>
{%block scripts %}
{% endblock %}
<body class="Site">

  <div class="content Site-content">

    <div class="container2">
        <nobr>
            <h1 class="logo">DrugShot</h1>
        </nobr>

        <div id="navi">
            <a href="index.html">PubMed Query</a> |
            <a href="drugset.html">Drug Set Augmentation</a> |
            <a href="help.html">Help</a> |
            <a href="download.html">Download</a> |
            <a href="api.html">API</a>
        </div>
    {% block content %}
    {% endblock %}
    </div>
    <!-- End Site-content -->
    <!-- Footer -->
    <div id="footer" class="row">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <a href="https://druggablegenome.net/" target="_blank">
                        <img src="{{ url_for('static',filename='images/IDG_filled.png') }}">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.lincsproject.org/" target="_blank">
                        <img src="{{ url_for('static',filename='images/LINCS.png') }}">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.lincs-dcic.org/" target="_blank">
                        <img src="{{ url_for('static',filename='images/dcic.png') }}">
                    </a>
                </div>
            </div>

            <hr>

            <div class="row" id="affiliations">
                <div class="col-sm-4">
                    <a href="http://icahn.mssm.edu/research/bioinformatics" target="_blank">
                        <img src="{{ url_for('static',filename='images/mountsinai.png') }}">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">
                        <img src="{{ url_for('static',filename='images/MaayanLab_logo.png') }}">
                        <p>© The Ma'ayan Lab</p>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="https://github.com/MaayanLab/drugshot" target="_blank">
                        <img src="{{ url_for('static',filename='images/octocat_GH.png') }}" id="GH_logo">
                    </a>
                </div>
            </div>

            <div class="row">
                <hr>
                <font style="font-size: 12px; color: black;">
                    Please acknowledge DrugShot in your publications by citing the following reference:
                </font>
                <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-022-04590-5" target="_blank">
                    <p style="text-align: center;">
                        DrugShot: querying biomedical search terms to retrieve prioritized lists of small molecules
                        <font style="font-size: 12px; color: black;">
                            <br>
                            Eryk Kropiwnicki, Alexander Lachmann, Daniel J. B. Clarke,
                            Zhuorui Xie, Kathleen M. Jagodnik and Avi Ma'ayan
                            <br>
                            BMC Bioinformatics 23, 76 (2022). https://doi.org/10.1186/s12859-022-04590-5
                            <br>
                            Article number: 76, 19 February 2022
                        </font>
                    </p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>